<div class="container">
  <% if produtos.first.present? %>
  <div class="row">
    <% produtos.each do |produto| %>
      <div class="col-xs-12 col-sm-6 col-md-4 alinhado-centro padding-15">
        <div class="thumbnail product-box cor-padrao borda" data-produto="<%= produto.descricao %>">
          <img src="<%= produto.link_imagem %>" width="150px"/>
          <div class="caption centralizar">
            <p class="descricao-produto" title="<%= produto.descricao %>"><%= produto.descricao %></p>
            <strong><p class="preco-produto">Preço: <%= number_to_currency((produto.preco).to_d, unit: "R$ ", separator: ",") %></p></strong>
            <p> Mercado: <%= produto.codigo_mercado == 1 ? 'Brasão' : 'Moura' %></p>
            <div style="margin-bottom: 10px">
              <a href="<%= produto.link_endereco %>" target="_blank">Ver produto
                <i class="glyphicon glyphicon-new-window"></i>
              </a>   <a  style="margin-left: 20px;" class="historico" data-produto="<%= produto.descricao %>">Ver Histórico
              <i class="glyphicon glyphicon glyphicon-time"></i>
            </a>
            </div>
            <button type="button" class="btn btn-success adiciona-carrinho">Adicionar no Carrinho</button>
            <button type="button" class="btn btn-danger remove-carrinho hide">Remover no Carrinho</button>
          </div>
          <p class="margin-top-10"><i class="glyphicon glyphicon-info-sign"></i> Atualizado
            em: <%= produto.created_at.to_time.getlocal.strftime("%d/%m/%Y %H:%M") %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
<div class="rodape">
  <%= will_paginate @produtos, renderer: BootstrapPagination::Rails, params: {controller: 'produtos', action: 'index'} %>
</div>
  <% else %>
    <div class="alinhado-centro">
      <h1> Nenhum produto encontrado!</h1>
    </div>
  <% end %>
<script>
    $('.thumbnail').each(function () {
        var produtos = JSON.parse(localStorage.getItem('produtos'));
        if (produtos) {
            $(".badge-pill").text(produtos.length);
            if (produtos.includes($(this).data('produto'))) {
                $(this).find('.remove-carrinho').removeClass('hide');
                $(this).find('.adiciona-carrinho').addClass('hide');
            }
        }
    });
</script>