<p id="notice"><%= notice %></p>

<div class="container" id="carrinho" style="float: left">
  <a href="<%= Rails.application.routes.url_helpers.carrinhos_path %>" target="_blank">Ir para o Carrinho!</a>
</div>

<div id="modal-historico"></div>
<%= form_for(:produto, url: { action: :filtrar }, method: :post, remote: true) do |form| %>
  <div class="row centralizar">
    <div class="col-xs-12 col-sm-12">
      <h3 style=" font-family: verdana, sans-serif;">Consulta de Preços</h3>
    </div>
    <div class="input-group col-xs-12 col-sm-8">
      <%= form.text_field(:descricao, class: 'form-control', placeholder: "Busque um produto...") %>
      <div class="input-group-append">
        <%= form.submit('Buscar', class: 'btn btn-secondary') %>
      </div>
    </div>
<% end %>
</div>

<div id="lista_produtos">
  <%= render partial: 'lista_produtos', locals: { produtos: @produtos } %>
</div>