<p id="notice"><%= notice %></p>
<div class="container">
  <div id="modal-historico"></div>
  <%= form_for(:filtros, url: { action: :index }, method: :patch, remote: true) do |form| %>
    <div class="row centralizar">
      <div class="col-xs-12 col-sm-8">
        <h3 style="font-family: verdana, sans-serif;">Consulta de Preços</h3>
        <div class="col-xs-12 col-sm-12" style="display: inline-flex;">
          <%= form.text_field(:descricao, class: 'form-control', placeholder: "Busque um produto...", value: (session[:filtros]["produtos#filtrar"] if session[:filtros])) %>
          <%= form.submit("Buscar", class: 'btn btn-info', data: { disable_with: "Pesquisando..." }) %>
        </div>
      </div>
    </div>
    <div class="sidenav">
      <a href="<%= Rails.application.routes.url_helpers.carrinhos_path %>" target="_self">
        <i class="glyphicon glyphicon-shopping-cart" style="font-size:40px;"></i>
        <span class="badge badge-pill bg-danger" style="font-size: 12px;">0</span>
      </a>
    </div>
  <% end %>
</div>

<div id="lista_produtos">
  <%= render partial: 'lista_produtos', locals: { produtos: @produtos } %>
</div>