<p id="notice"><%= notice %></p>
<%= form_for(:produto, url: { action: :filtrar }, method: :post, remote: true) do |form| %>
  <div class="col-xs-12 col-sm-12">
    <div class="col-xs-12 col-sm-12 titulo ">
      <%= form.label(:descricao, "Buscar Produto") %>
      <%= form.text_field(:descricao) %>
      <%= form.submit 'Buscar Produto' %>
    </div>

<% end %>
</div>

<div id="lista_produtos">
  <%= render partial: 'lista_produtos', locals: { produtos: @produtos } %>
</div>